body {
    background-image: url(../images/crystalbackground2.jpg);
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-weight: 400;
}

#instructions {
    background-color: blanchedalmond;
    color: black;
    padding: 25px;
    margin: 10px;
}

.btn {
    margin-top: 20px;
}

#score, #scoreArea {
    background-color: firebrick;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#crystal {
    margin: 40 10 40 10;
    padding: 10px;
    
}

img {
    border-radius: 30px;
}

#randomNumber, #totalScore {
    font-size: 32px;
    font-weight: bolder;
}

#redText, #greenText, #purpleText, #yellowText {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
    font-weight: bolder;
}