body {
    background-image: url(../images/crystalbackground2.jpg);
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-weight: 400;
}

#instructions {
    background-color: blanchedalmond;
    color: black;
    padding: 25px;
    margin: 10px;
}

.btn {
    margin-top: 20px;
}

#score, #scoreArea {
    background-color: firebrick;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#scoreText {
    text-align: right;
}

#scoreTotal {
    text-align: left;
}

#crystal {
    margin: 10px;
    padding: 10px;
}

img {
    border-radius: 30px;
}